.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 300px;
    height: autopx;
    background-color: #19232c;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.card:hover {
    background-color: #ed2a3d;
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);

}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rol-agent {
    width: 30px;
}

.info-agent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.name-agent {
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

.modalbox-agent {

    user-select: none;
    background: #19232cfe;
    box-shadow: rgb(7, 7, 7) 0px 20px 30px -10px;
    border-radius: 15px;
    padding: 40px 40px 40px 0px;
    max-width: 1000px;
    
}
.fullimg-agent{
    width: 400px;
    height: auto;
}
.agent-info{
    display: flex;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
}
.ability-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    
}
.ability-image{
    width: 50px;
    height: auto;
    background-color: #0E121D;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.ability-image:hover{

    background: #ed2a3d;
}
.ability-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
h3{
    color: #f03648;
}