.container-card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.card{
    width: 300px;
    height: autopx;
    background-color: #19232cf3;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}
.card:hover{
    background-color: #121a21f3;
}