.img-map{
    width: 500px;
    height: auto;
}
.container-map{
    padding: 100px 0px 1000px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 30px;
}
.card-map{
    width: 500px;
    background-color: #19232cf3;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}
h2{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;

  }