.img-map{
    width: 500px;
    height: auto;
}
.container-map{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card-map{
    width: 500px;
    background-color: #19232cf3;
    border-radius: 25px;
    overflow: hidden;
}
h2{
    width: 100%;
    display: flex;
    justify-content: center;
    
}