.img-map {
    width: 500px;
    height: auto;
}

.container-map {
    padding: 0px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

}

.container-map::-webkit-scrollbar {
    width: 0.5em;
}

.container-map::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-map::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.card-map {
    width: 400px;
    background-color: #19232cf3;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

}

.card-map:hover {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    background: #ed2a3d;
}

h2 {
    width: 100%;
    display: flex;
    justify-content: center;

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.search-box {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 55px 50px 55px;
}

.b-types {
    color: white;
    font-size: 1.4rem;
    font-family: monospace;
    padding: 0px 20px 0px 20px;
    background: none;
    border: none;
    background-color: #19232cf3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;

}

.b-types:hover {
    background-color: #080d12;

}

.types-box {
    display: flex;
    gap: 10px;
}

h1 {
    padding: 0px;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: #19232cfe;
    box-shadow: rgb(7, 7, 7) 0px 20px 30px -10px;
    border-radius: 15px;
    max-width: 600px;
   
}

.map{
    max-width: 600px;
    
    height: auto;
}
.name-map{
    background: #ed2a3d;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
