@font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.container-weapon {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card-weapon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #19232c;
    padding: 20px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;

    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    overflow: hidden;
}

.card-weapon:hover {
    background-color: #ed2a3d;
    /* transform: translatey(-20px); */
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    transform: scale(1.2) translatey(-10px);
    width: 430px;

    .name-weapon {
        background-color: white;
        color: black;
    }

    .img-weapon {
        height: 65px;
        transform: rotateY(180deg) scale(1.2);



    }
}

.img-weapon {

    height: 70px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

}

.name-weapon {
    width: 100%;
    background-color: #273139;
    margin-top: 10px;
    padding: 3px 0px 3px 30px;
}

.img-skin {

    height: 70px;
}

.modal {
   padding: 0;
   margin: 0;
}

.modalbox-skins {
    border: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: rgb(7, 7, 7) 0px 20px 30px -10px;
    border-radius: 10px;
    padding: 20px 0px 50px 0px;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    max-height: 80%;
    width: 80%;
    
}
.modalbox-skins:focus{
    outline: none;
}

.modalbox-skins::-webkit-scrollbar {
    width: 0px;
}

.modalbox-skins::-webkit-scrollbar-track {
    width: 0px;
}

.modalbox-skins::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Ajusta el color del thumb si lo deseas */
    border-radius: 3px;
}

.skin-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.skin-box {
    display: flex;
    flex-direction: column;
    background: #11171d;
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    gap: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

}

.skin-box:hover {
    background-color: #ed2a3de1;
    transform: translatey(-5px);
    -webkit-transform: translatey(-5px);
    -moz-transform: translatey(-5px);
    .box-skin-name{
        background-color: white;
        color: black;
    }
}

.skin-title {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ed2a3dd2;
    padding: 10px;
}

.box-skin-name {
    background-color: #273139;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 10px;
    
}

.video-skin {
    width: 100%;

}

.modalbox-skin-video {

    user-select: none;
    border-radius: 5px;
 
}

.modal-video {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.icon-watch {
    font-family: 'Hack Nerd Font';
    font-size: 1.5rem;
    padding: 5px;

}

.icon-watch:hover {
    color: #ed2a3d;
}
@media (max-width: 430px) { 
    .card-weapon {
        width: 95%;
    }
    .modalbox-skins{
        width: 95%;
    }
    .video-skin{
        width: 100%;
        height: auto;
    }
  }